@using GradeCalculator.ViewModel;
@model GradeViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h4>
	@Model.profile.Name's Grades
</h4>
@if (Model.profile.Semesters != null && Model.profile.Semesters.Count > 0)
{
	<div class="semesters">
		@foreach (var s in Model.profile.Semesters)
		{
			<div class="semester">
				<div class="semester-name">
					Semester @s.Name (Order: @s.SemesterOrder, ID: @s.Id), @s.Year
				</div>
				<table class="Course-table w-100">
					<thead>
						<tr>
							<th>Course Code</th>
							<th>Course Title</th>
							<th>Credit Hour</th>
							<th>Grade</th>
							<th>Grade Point</th>
							<th>Edit</th>
							<th>Delete</th>
						</tr>
					</thead>
					<tbody>

						@if (s.Courses != null && s.Courses.Count > 0)
						{
							foreach (var c in s.Courses)
							{
								<tr>
									<td class="CourseCode">@c.CourseCode</td>
									<td class="CourseTitle">@c.CourseTitle</td>
									<td class="CreditHour">@c.CreditHour</td>
									<td class="CourseGrade">@c.Grade</td>
									<td class="GradePoint">@c.GradePoint</td>
									<td>
										<form method="post" enctype="multipart/form-data" asp-controller="Grade" asp-action="EditCourse">
											<input hidden asp-for="profile.ID" value="@Model.profile.ID">
											<input hidden asp-for="profile.Name" value="@Model.profile.Name">
											<input hidden asp-for="newCourse.Id" value="@c.Id">
											<input hidden asp-for="newSemester.Id" value="@s.Id">
											<button class="submit-buttons" type="submit"> <img src="~/edit.png"> </button>
										</form>
									</td>
									<td>
										<form method="post" enctype="multipart/form-data" asp-controller="Grade" asp-action="DeleteCourse">
											<input hidden asp-for="profile.ID" value="@Model.profile.ID">
											<input hidden asp-for="profile.Name" value="@Model.profile.Name">
											<input hidden asp-for="newCourse.Id" value="@c.Id">
											<input hidden asp-for="newSemester.Id" value="@s.Id">
											<button class="submit-buttons" type="submit"> <img src="~/trash.png"> </button>
										</form>
									</td>
								</tr>
							}
						}
						<tr>
							<td colspan="7">
								<!-- Button trigger modal -->
								<button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#exampleModal">
									Add Course
								</button>

								<!-- Modal -->
								<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
									<div class="modal-dialog">
										<div class="modal-content">
											<div class="modal-header">
												<h5 class="modal-title" id="exampleModalLabel">Add Course</h5>
												<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
											</div>
											<form enctype="multipart/form-data" method="post" class="AddCourseForm" asp-action="AddCourse" asp-controller="Grade">
												<div class="modal-body">
													<input hidden asp-for="profile.ID" value="@Model.profile.ID">
													<input hidden asp-for="profile.Name" value="@Model.profile.Name">
													<label class="form-label text-left" asp-for="newSemester.Id">Semester ID</label>
													<input class="form-control" asp-for="newSemester.Id" value="@s.Id">
													<label class="form-label text-left" asp-for="newCourse.CourseCode">Course Code</label>
													<input class="form-control" asp-for="newCourse.CourseCode">

													<label class="form-label" asp-for="newCourse.CourseTitle">Course Title</label>
													<input class="form-control" asp-for="newCourse.CourseTitle">

													<label class="form-label" asp-for="newCourse.CreditHour">Credit Hour</label>
													<input class="form-control" asp-for="newCourse.CreditHour">

													<label class="form-label" asp-for="newCourse.Grade">Grade</label>
													<input class="form-control" asp-for="newCourse.Grade">
												</div>
												<div class="modal-footer">
													<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
													<input type="submit" class="btn btn-primary" value="Save Changes">
												</div>
											</form>
										</div>
									</div>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
				<div class="semester-bottom">
					<div class="GPA-Section">
						<div class="AverageGPA">
							Average GPA: @s.Average
						</div>
						<div class="CGPA">
							CGPA: @s.CGPA
						</div>
					</div>
					<div class="options-section">
						<form method="post" enctype="multipart/form-data" asp-controller="Grade" asp-action="DeleteSemester">
							<input hidden asp-for="profile.ID" value="@Model.profile.ID">
							<input hidden asp-for="profile.Name" value="@Model.profile.Name">
							<input hidden asp-for="newSemester.Id" value="@s.Id">
							<input type="submit" class="btn btn-danger" value="Delete">
						</form>
						<form method="post" enctype="multipart/form-data" asp-controller="Grade" asp-action="EditSemester">
							<input hidden asp-for="profile.ID" value="@Model.profile.ID">
							<input hidden asp-for="profile.Name" value="@Model.profile.Name">
							<input hidden asp-for="newSemester.Id" value="@s.Id">
							<input type="submit" class="btn btn-warning" value="Edit">
						</form>
					</div>
				</div>
			</div>
		}
	</div>
}
<div>
	<form class="AddSemester" method="post" enctype="multipart/form-data" asp-controller="Grade" asp-action="AddSemester">
		<h3>Add Semester Form</h3>
		<input hidden asp-for="profile.ID" value="@Model.profile.ID">
		<input hidden asp-for="profile.Name" value="@Model.profile.Name">
		<label asp-for="newSemester.Name">Semester Name</label>
		<input asp-for="newSemester.Name">
		<label asp-for="newSemester.Year">Semester Year</label>
		<input asp-for="newSemester.Year">
		<label asp-for="newSemester.SemesterOrder">Semester Order</label>
		<input asp-for="newSemester.SemesterOrder">
		<input type="submit" value="Save" class="AddSemester-submit">
	</form>
</div>
<style>
	img {
		width: 30px;
	}

	.submit-buttons {
		background-color:transparent;
		border:0px solid black;
	}

	.semesters {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
	}

	.semester {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin: 2ch;
		width: 68ch;
		border-radius: 15px;
		overflow: hidden;
	}

	.semester-name {
		color: white;
		width: 100%;
		height: 4ch;
		text-align: center;
		padding-top: 1ch;
		overflow: hidden;
		background-color: #415a77;
	}

	.semester-bottom {
		width: 100%;
		display: flex;
		justify-content: space-around;
		align-items: center;
		background-color: #415a77;
		color: white;
		height: 8ch;
	}

	.options-section {
		display: flex;
		flex-direction: row;
	}

		.options-section form {
			margin: 1ch;
		}

	.GPA-Section {
		text-align: left;
	}

	.Course-table {
		text-align: center;
	}

	th,
	td {
		padding: 7px;
		text-align: center;
	}

	.semester th {
		background-color: #778da9;
	}

	.semester td {
		background-color: #e0e1dd;
		border-bottom: 1px solid black;
		border-top: 1px solid black;
	}

	.AddSemester {
		display: flex;
		flex-direction: column;
		width: 50ch;
		background-color: #8ecae6;
		margin-inline: auto;
		padding: 3ch;
		padding-inline: 7ch;
		border-radius: 15px;
	}

		.AddSemester label {
			text-align: left;
			margin-top: 1ch;
			margin-bottom: 0.5ch;
		}

	.AddSemester-submit {
		margin: 2ch;
		margin-top: 3ch;
		margin-inline: auto;
		width: 20ch;
	}
</style>

